<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		

		<meta name="description" content="test" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		
		<link rel="stylesheet" href="/dist/framework/themes/ace/assets/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/dist/framework/themes/ace/assets/css/font-awesome.min.css" />

		
		<link rel="stylesheet" href="/dist/framework/themes/ace/assets/css/ace-fonts.css" />

		<!-- ace styles -->
		<link rel="stylesheet" href="/dist/framework/themes/ace/assets/css/ace.min.css" id="main-ace-style" />

		<link rel="stylesheet" href="/dist/framework/themes/ace/assets/css/ace-skins.min.css" />
		<link rel="stylesheet" href="/dist/framework/themes/ace/assets/css/ace-rtl.min.css" />

		<!-- ace settings handler -->
		<script src="/dist/framework/themes/ace/assets/js/ace-extra.min.js"></script>


	</head>

	<body class="no-skin">
		
		

		<script src="/dist/framework/themes/ace/assets/js/jquery.min.js"></script>
		<script src="/dist/framework/themes/ace/assets/js/bootstrap.min.js"></script>

	
		<script src="/dist/framework/themes/ace/assets/js/ace-elements.min.js"></script>
		<script src="/dist/framework/themes/ace/assets/js/ace.min.js"></script>

	

	</body>
</html>
