
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/ace/layout-web">

<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
  <div id="mycontainer"></div>
  <script id="entryport-js" src="/dist/framework/js/main-react.js" data-main="/dist/framework/js/simple/main.js" data-res-path="/dist/"  ></script>
</body>
</html>