
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/ace/layout">

<head lang="en">  
    <meta charset="UTF-8" />
    <title>缺省错误定制页面</title>
</head>  
<body> 
 <div class="row col-md-12 center"> 
    <h1>Error!!!</h1>
       <div><span>Request URL:</span><span th:text="${url}"></span></div>
   		 <div><span>Error Message:</span><div th:text="${exception}"></div></div>
    </div>
</body>  
</html>  