
<!DOCTYPE html>
<html >
      
<head>
  <meta charset="UTF-8" />
 
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    
    <meta name="renderer" content="webkit" />

 
     <link rel="stylesheet" href="/dist/framework/themes/default/css/amazeui.touch.min.css"/>
</head>
<body>
  <div id="mycontainer"></div>
  <script id="entryport-js" src="/dist/framework/js/main-react.js" data-res-path="/dist/" ></script>

</body>
</html>
