<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head th:include="layout/header-charisma::head">

    <meta charset="utf-8" />
  
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

   

</head>

<body class="hold-transition skin-blue sidebar-mini">
 <div class="wrapper">
 


  <div  th:replace="this::body"></div>
 
  <div  th:replace="layout/footer-charisma::body"></div>
 </div>
</body>

</html>